#about {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, transparent, var(--bg-color));
    position: relative;
    padding-top: 2.5rem;
}
.about_text {
    font-family: var(--ko-font);
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.about_bottom {
    position: absolute;
    bottom: 10%;
    right: 5.2%;
}
.about_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    margin-bottom: 3rem; 
}
.about_box .about_item {
    max-width: 400px;
}
.about_box img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    filter:grayscale(1);
    margin-bottom: 1rem;
    transition: 0.8s;
}
.about_bottom:hover .about_box img {
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    filter:grayscale(0);
}

.about_box p {
    font-size: 1rem;
    font-family: var(--ko-font);
    line-height: 1.5;
}

.about_btn {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.about_btn .btn_style:nth-child(1) {
    margin-right: 1rem;
}

@media screen and (max-width: 1280px) {
    .about_text {
        max-width: 90%;
        word-break: keep-all;
    }
    .about_text br {
        display: none;
    }
    .about_box .about_item {
        max-width: 300px;
    }
    .about_box .about_item br {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .about_text {
        display: none;
    }
    .about_bottom {
        bottom: 5rem;
        right: 0;
        padding: 0 5.2%;
    }
    .about_box .about_item {
        max-width: 100%;
    }
    .about_box img {
        width: 8rem;
        height: 8rem;
        border-radius: 10px;
        margin-bottom: 2rem;
    }
    .about_box p {
        max-width: 90%;
        line-height: 1.7;
    }
    .about_bottom:hover .about_box img {
        width: 8rem;
        height: 8rem;
        filter:grayscale(0);
    }
    .about_btn .btn_style:nth-child(1) {
        margin-right: 0rem;
    }
}

