.info_img {
    width: 100%;
    min-height: 700px;
    position: relative;
    /* background: url(../../img/bg_point.gif); */
}
.CardBox {
  position: absolute;
  top: 50%;
  left: 50%;
}

.Picture {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid var(--font-color);
  border-radius: 3px;
  background: var(--font-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  user-select: none;
  cursor: pointer;
}

.Picture-img {
  display: block;
  width: 300px;
  height: 300px;
  pointer-events: none;
  filter: brightness(110%);
}

.Picture-note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--bg-color);
  font-family: var(--ko-font);
}

.Network {
  display: inline-block;
  padding: 0 5px;
}

.Network img {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  vertical-align: middle;
}