/* header */
#myHeader {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5.2%;
    z-index: 1000;
    left: 0;
    backdrop-filter: blur(5px);
    position: fixed;
    transition: top 0.5s ease;
}
/* header event css */
.nav-up {
    top: -60px;
}
.nav-down {
    top: 0px;
}

/* nav */
#myHeader nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#myHeader nav ul li {
    margin: 0 1rem;
    padding: 5px;
    color: #fff;
    font-family: var(--en-font);
    font-weight: 100;
    font-size: 0.85rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

/* 밑줄 효과 after */
#myHeader nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    z-index: 10;
    background-color: var(--font-color);
    transition: 0.5s ease;
}
#myHeader nav ul li:hover::after {
  left: 0%;
  width: 100%;
}
.nav_btn {
    display: none;
}


@media screen and (max-width: 790px) {
    nav {
        display: none;
    }
    .nav_btn {
        display: block;
    }
    .nav_btn input[id="menu"] {
        display: none;
    }
    .m_nav {
        position: absolute;
        right: 5.2%;
        top: 60px;
        text-align: right;
        transition: 0.4s;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .m_nav li {
        padding: 0.7rem;
        font-size: 1.1rem;
        width: 150px;
        border-radius: 2px;
        margin-bottom: 5px;
        background-color: #242424d4;
        border-bottom: 1px solid var(--font-color);
        text-transform: uppercase;

    }

    
    .nav_btn input[id="menu"] + label {
        position: relative;
        display: block;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .nav_btn input[id="menu"] + label span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background: var(--font-color);
        transition: 0.3s;
    }
    .nav_btn input[id="menu"] + label span:nth-child(1) {
        top: 0;
    }
    .nav_btn input[id="menu"] + label span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }
    .nav_btn input[id="menu"] + label span:nth-child(3) {
        bottom: 0;
    }

    /* 클릭시 */
    .nav_btn input[id="menu"]:checked + label span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .nav_btn input[id="menu"]:checked + label span:nth-child(2) {
        opacity: 0;
    }
    .nav_btn input[id="menu"]:checked + label span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }


    .nav_btn input[id="menu"]:checked + label .m_nav {
        opacity: 1; 
    }
    
    
}