#log {
    padding-bottom: 10rem;
}
.log_text {
    width: 100%;
    text-align: right;
    font-family: var(--ko-font);
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 10rem;
}

/* log_moment */
.log_moment ul {
    display: grid;
    gap: 2rem;
    align-items: flex-end;  
}
.log_moment ul.line_one {
    grid-template-columns: 6fr 4fr;
}
.log_moment ul.line_two {
    grid-template-columns: repeat(3, 1fr);
}

.log_moment ul li .log_img {
    border-radius: 10px;
    border: 1px solid red;
    overflow: hidden;
}
.log_moment ul li .log_img img {
    width: 100%;
    border: 4px solid blue;
    border-radius: 10px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.8562, 0, 1);
}

.log_moment ul li p {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 0;
}

@media screen and (max-width: 1280px) {
    /* log_moment */
    .log_moment ul {
        gap: 1rem;
    }
    .log_moment ul li p {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 1rem 0 1.5rem;
    }
}
@media screen and (max-width: 790px) {
    .log_text {
        margin-bottom: 7rem;
        word-break: keep-all;
        font-size: 1rem;
        line-height: 1.7;
    }
    .log_text br {
        display: none;
    }

    /* log_moment */
    .log_moment ul.line_one {
        grid-template-columns: repeat(1, 1fr);
    }
    .log_moment ul.line_two {
        grid-template-columns: repeat(1, 1fr);
    }
}