#section4 {
    padding-bottom: 10rem;
}
.log_text {
    width: 100%;
    text-align: right;
    font-family: var(--ko-font);
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 10rem;
}

.log_moment ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.log_moment ul li img {
    border-radius: 10px;
}
.log_moment ul li p {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 0;
}

.line_one li:nth-child(1) {
    width: 60%;
    margin-right: 40px;
}
.line_one li:nth-child(2) {
    width: 40%;
}
.line_two li {
    width: calc(100%/3);
    margin: 20px;
}
.line_two li:nth-child(1) {
    margin-left: 0;
}
.line_two li:nth-child(3) {
    margin-right: 0;
}