#port {
    background-color: var(--bg-color);
}
.port_wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.port_wrap li > a {
    display: block;
    width: calc(100%-1rem);
    margin: 1.5rem 1rem;
    height: auto;
    border: 1px solid var(--font-color);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.port_wrap ul:nth-child(1) li > a {
    margin-left: 0;
}
.port_wrap ul:nth-child(2) {
    margin-top: 12%;
}
.port_wrap ul:nth-child(4) {
    margin-top: 8%;
}
.port_wrap ul:nth-child(4) li > a {
    margin-right: 0;
}
.port_wrap li > a > span {
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 40%;
    z-index: 10;
    background-color: var(--font-color);
    color: var(--bg-color);
    text-align: center;
    text-transform: uppercase;
    transform: rotate(45deg);
    font-family: var(en-font);
    font-size: 1rem;
}
.port_wrap li > a h4 {
    font-family: var(--point-font);
    text-transform: uppercase;
    font-size: 3rem;
    line-height: .9;
    margin-top: 1rem;
    margin-bottom: 65%;
}
.port_info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.port_info p {
    width: 80%;
    font-family: var(--ko-font);
    line-height: 1.5;
    font-size: 1rem;
}
.port_info button {
    position: relative;
    z-index: 10;
    width: 1.5rem;
    height: 1.5rem;
    font-size: .85rem;
    line-height: 1;
    background-color: var(--n-font-color);
    color: var(--bg-color);
    border-radius: 50%;
    font-weight: 800;
    transition: background-color .4s;
}
.port_wrap li > a:hover button {
    background-color: var(--font-color);
}
.port_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10% 0;
}

.hover_info {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -20%;
    left: 0;
    background-color: #fff;
    opacity: 0;
    transition: bottom 0.6s, opacity 0.6s;
}
.hover_info img {
    object-fit: cover;
    height: 100%;
}
.port_wrap li > a:hover .hover_info {
    bottom: 0;
    opacity: 1;
}

/* circle_link */
.port_wrap .circle_link a {
    border: none;
    padding: 0;
    border-radius: 50%;
}
.circle_link a div {
    padding-bottom: 100%;
    max-height: 250px;
    border-radius: 50%;
    margin: 1.5rem 0;
    background-color: #fff;
    color: var(--bg-color);
    text-transform: uppercase;
    font-family: var(--point-font);
}

.circle_link a div::after {
    display: block;
    content: 'info\Amation!';
    color: var(--bg-color);
    font-size: 3.4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.4s;
}
.circle_link a div:hover::after {
    opacity: 0.5;
}

@media screen and (max-width: 1280px) {
    .port_wrap {
        flex-wrap: wrap;
    }
    .port_wrap ul {
        width: 49%;
    }
    .port_wrap li > a {
        margin: 2rem 0rem;
        padding: 1.5rem;
    }

    .port_wrap li > a > span {
        top: 2.5rem;
        left: 38.5%;
        padding: 0.2rem;
        font-size: 1.2rem;
    }
    .port_wrap li > a h4 {
        line-height: 1;
        margin-bottom: 35%;
    }
    .port_info p {
        font-size: 1.1rem;
    }
    /* 원 */
    .port_wrap .circle_link a {
        padding: 50px;
    }
    .circle_link a div {
        margin: 0;
    }
    .circle_link a div::after {
        font-size: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .port_wrap ul {
        width: 100%;
        margin: 0 !important;
        margin-bottom: 5rem !important;
    }
    /* 원 */
    .port_wrap .circle_link a {
        padding: 40px;
    }
    .circle_link a div::after {
        font-size: 2.8rem;
    }
    /* 하단 버튼 */
    .port_btn {
        padding-bottom: 7rem;
    }
}